/* This is applying my learning blue color */
#div-one {
	background-color: black;
	color: white;	
	padding: 100px 100px 100px 50px;
	border-style: solid;
	border-width:50px;
	border-color:red;
	margin-bottom: 100px
	
	
	}


/* this is a multi line comment */