/* This is applying my learning blue color */
#div-one	{
		background-color: black;
		height: 100px;
				
}
#div-two	{
		background-color: red;
		height: 100px;		
}

#div-three	{
		background-color: blue;
		height: 100px;
		
}


/* this is a multi line comment */